body {

    margin: 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

main {
    position: 0;
    width: 375px;
    background-color: hsl(275, 100%, 97%);
    background-image: url("assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 375px;
    height: 100vh;
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.center {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 60%;
    border-radius: 8px;
    padding: 8%;
}

.title{
    display: flex;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title h2{
    margin: auto;
    margin-left: 10%;
    font-size: 30px;
}
.subtitle{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.subtitle img{
    margin-left: 20%;
}
.description {
    text-justify:distribute;
    color: gray;
    line-height: 1.3em;
    letter-spacing: 0.px;
    font-size: 16px;
}